.list-container {
    display: flex;
    justify-content: center;
  }
  
  .list {
    width: 75%;
    display: flex;
  /*   border: 1px solid; */
    justify-content: space-between;
  }
  
  .list-box {
    width: 100px;
    height: 100px;
  /*   background-color: red; */
    border: 1px solid red;
  }

  .list-box img {
    /*   object-fit: contain; */
      height: 100%;
    /*   width: 100%; */
      text-align: center;
    }


    /* For Home.css */

    /* #brand-partners .list {
    border: 1px solid;
}

#brand-partners .list .list-box{
    height: 50px;
    border: 1px;
}

#brand-partners .list .list-box img {
    filter: grayscale(1);
}

#brand-partners .feature-box {
    display: flex;
}

#brand-partners .feature-box {
    width: fit-content;
}

#brand-partners .feature-box img{
    height: 30px;
} */